body {
  font-family: Arial, sans-serif;
  background: #0d3c4d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: rgb(210, 206, 212);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-input input, .todo-input button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e6c190;
}

#taskInput {
  flex: 1;
}

button {
  background: #d589a2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #619dce;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #805353;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: rgb(138, 130, 130);
}

.task-buttons button {
  margin-left: 5px;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.edit {
  background: #81c98b;
  color: white;
}

.delete {
  background: #813a41;
  color: white;
}

.complete {
  background: #17a2b8;
  color: white;
}

.datetime {
  font-size: 12px;
  color: #6a6262;
  margin-left: 10px;
}
